<div class="ui vertically padded equal width grid">
  <div class="sixteen wide mobile ten wide tablet twelve wide computer column">
    <%= yield %>
  </div>
  <div class="sixteen wide mobile six wide tablet four wide computer column">
    <%= render "/sub_layouts/shared/devise_links" %>
  </div>
</div>
