<h2 class="ui header"><%= get_title %></h2>

<div class="content">
  <%= @page.content.html_safe unless @page.content.blank? %>
</div>

<% if user_signed_in? && current_user.role?(:super_admin) && @page.blank? == false %>
    <div class="ui meta">
      <%= link_to '<i class="pencil icon"></i> Редактировать'.html_safe,
                  edit_page_path(@page),
                  class: "ui icon labeled button"
      %>
    </div>
<% end %>