/*
*= require semantic-ui
*= require semantic-ui-fix
*/

html.turbolinks-progress-bar::before {
  background-color: rgba(#FFF, 10%) !important;
  height: 5px !important;
}

// header
.blur-background {
  background-color: transparent !important;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100% !important;
    content: "";
    background-image: url(header.jpg);
    background-size: cover;
    z-index: -1;
    visibility: visible !important;
  }
}