html, body {
  background-color: #DADADA;
}

html.turbolinks-progress-bar::before {
  background-color: rgba(#2185D0, 10%) !important;
}

.ui.grid {
  height: 100%;
  .column {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
    max-width: 530px;
  }
}

@media all and (max-width: 767px) {
  .ui.grid {
    margin-left: 0;
    margin-right: 0;
  }
}