html.turbolinks-progress-bar::before {
  background-color: rgba(#2185D0, 10%) !important;
}

#sidebar {
  box-shadow: 0 0 20px rgba(34, 36, 38, 0.15);
}

.ui.container {
  width: auto !important;
  flex: 1 0;
  padding: 0 6em;
}
.ui.main.container {
  padding-top: 5em;
  padding-bottom: 5em;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .ui.container {
    padding: 0 2em;
  }
}

@media only screen and (min-width: 992px) {
  #sidebar.ui.sidebar {
    visibility: visible;
    display: block;
    transform: translate3d(0, 0, 0);
  }
  .pusher {
    transform: translate3d(0, 0, 0);
    margin-left: 260px;
  }
  .ui.menu .toc.item {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .ui.container {
    padding: 0 4em;
  }
}

@media all and (max-width: 767px) {
  .ui.container {
    padding: 0 1em;
  }
  .ui.main.menu {
    .right.menu > .item > span {
      display: none;
    }
  }
}

// @media only screen and (min-width: 1200px) {
// }
// @media only screen and (max-width: 1199px) and (min-width: 992px) {
// }
// @media only screen and (max-width: 991px) and (min-width: 768px) {
// }
// @media all and (max-width: 767px) {
// }