html, body {
  background-color: #f0f0f0;
}

.ui.file {
  margin-bottom: 1.5rem;
}

.main.container {
  padding: 56px 0 32px;
  #messages .message:first-of-type {
    margin-top: 2rem;
  }
}

.browser.popup {
  min-width: 600px;
}

.objects {
  position: relative;
}
.click.point {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: 5px;
  height: 5px;
  border-radius: 10px;
  z-index: 99999;
}
