<p>Добро пожаловать, <%= @email %>!</p>

<p>Вы можете подтвердить свой аккаунт для полного использования ресурса, используя ссылку представленную ниже:</p>

<p><%= link_to 'Подтвердить мой аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
