<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то сделал запрос на восстановление вашего пароля, это можно сделать, используя ссылку представленную ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не делали этот запрос, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится, пока никто не перейдёт по ссылке, указанной выше.</p>
